
@{
    ViewBag.Title = "Listado de busquedas";
}
@section styles{
    <link href="~/Content/css/job.css" rel="stylesheet" />
}
<br /><br /><br />
<!-- Busquedas -->
<div>
    <h2>Busquedas Activas</h2>
    <div  id="BusquedasActivas" class="row">
        @if (ViewBag.TablaBusquedas != null)
        {
            foreach (RRHH.Models.Job row in ViewBag.TablaBusquedas)
            {
                <div class="col-md-8 col-md-offset-1">
                    <h3><strong>Puesto:</strong> @row.JobName</h3>
                    <p><strong>Fecha:</strong> @row.JobDate</p>
                    <p><strong>Descripcion del puesto:</strong> @row.JobDescription</p>
                    <p><a class="button-modal btn btn-primary botonPostularse" role="button">Postularse</a></p>
                </div>
            }
        }
    </div>
</div>