@{
    ViewBag.Title = "Registro";
}

@section scripts{
    <script src="~/Content/js/bootstrapvalidator.min.js"></script>
    <script src="~/Content/js/registro.js"></script>
}
@section scriptsQnecesitoAntesPagina{
    <script src="~/Scripts/jquery.min.js"></script>
}

@section styles{
    <link href="~/Content/css/registro.css" rel="stylesheet" />
}

<br><br><br><br>

<div class="container">

    <form class="well form-horizontal" action="" method="post" id="contact_form">
        <fieldset>

            <!-- Form Name -->
            <legend>Datos para registro!!!</legend>

            <!-- FirsName input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Nombre</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="first_name" placeholder="Nombre" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- LastName input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Apellido</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input name="last_name" placeholder="Apellido" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- E-mail input-->
            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input name="email" placeholder="E-Mail" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Phone input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Telefono #</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input name="phone" placeholder="(011) 4444-1212" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Address input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Dirección</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input name="address" placeholder="Dirección" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <!-- Select Province -->
            <div class="form-group">
                <label class="col-md-4 control-label">Provincia</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        @*<select name="state" class="form-control selectpicker">*@
                        <select class="form-control selectpicker" id="proviceSelect" name="province_id">
                                <option value="">Seleccione su provincia</option>
                                @foreach (RRHH.Models.Province row in ViewBag.Provinces)
                                {
                                    <option value="@row.ProvinceID">@row.ProvinceName</option>
                                }
                        </select>
                    </div>
                </div>
            </div>

            <!-- Select City -->
            <div class="form-group">
                <label class="col-md-4 control-label">Ciudad</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select class="form-control selectpicker" id="citySelect" name="city_id">
                            <option value="">Seleccione su ciudad</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- Genre radio checks -->
            <div class="form-group">
                <label class="col-md-4 control-label">Sexo?</label>
                <div class="col-md-4">
                    <div class="radio">
                        <label>
                            <input type="radio" name="hosting" value="hombre" /> Hombre
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="hosting" value="mujer" /> Mujer
                        </label>
                    </div>
                </div>
            </div>

            <!-- Success message -->
            <div class="alert alert-success" role="alert" id="success_message">Completado <i class="glyphicon glyphicon-thumbs-up"></i> Gracias por contactarte.</div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-warning">Enviar <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>
    </form>

    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div>

<script>//SI LO PONIA EN EL ARCHIVO SEPARADO DE js NO ME RECONOCE EL REDIRECCIONAMIENTO Url.Action
    $("#proviceSelect").change(function () {
        $("#citySelect").empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetCiudades","Login")',
            dataType: 'json',
            data: { id: Number($("#proviceSelect").val()) },
            success: function (ciudades) {
                $.each(ciudades, function (i, ciudad) {
                    $("#citySelect").append('<option value="' + ciudad.Value + '">' +
                    ciudad.Text + '</option>');

                });
            },
            //error: function (request, errorType, errorMessage) {
            //    alert(errorMessage);
            //}
        })
    });
</script>