.bs-example{
    max-width: 300px;
}

.bs-example>ul:last-child {
    margin-bottom: 0;
}

.bs-example>.nav-pills-stacked-example {
    max-width: 300px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul {
    margin-top: 0;
}

* {
    box-sizing: border-box;
}

ul, menu, dir {
    display: block;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

