body {  
    color: #333;
}

.navbar-default {
    color: #F2F2F2;
    background-color: #4000FF;
}

.navbar-default .navbar-nav>.active>a{
    color: #333;
    font-weight: bold;
    background-color: #FFFF00;
}

.navbar-default .navbar-brand{
    color: #F2F2F2;
}

.navbar-default .navbar-nav > li > a {
    color: #F2F2F2;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #FFFF00;
}

.oculto{
    display:none;
}