
@{
    ViewBag.Title = "Panel de Control";
    Layout = "~/Views/Shared/_Layout_ControlPanel.cshtml";
}
@section styles{
    <link href="~/Content/css/controlPanel.css" rel="stylesheet" />
}

<!-- Panel de Control -->
<div>
    <br />
    <h1>Hola @(((RRHH.Models.Users)Session["UsuarioLogueado"]).FirstName),</h1>
    <div id="BusquedasActivas" class="row">
        <div class="col-md-8 col-md-offset-1">
            <h2>Te damos la bienvenida al panel de control de</h2>
            <h2>World Solutions RRHH</h2>
        </div>
    </div>
</div>