
@{
    ViewBag.Title = "ModificarEstadoPostulante";
    Layout = "~/Views/Shared/_Layout_ControlPanel.cshtml";
}
@section styles{
    <link href="~/Content/css/controlPanel.css" rel="stylesheet" />
}

<br />
<h2>ModificarEstadoPostulante</h2>

<br />
<h3>Has modificado el estado del postulante</h3>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />