
@{
    ViewBag.Title = "ApplyJob";
}

<br />
<h3>Felicitaciones @(((RRHH.Models.Users)Session["UsuarioLogueado"]).FirstName), te has postulado a la busqueda: @(((RRHH.Models.Jobs)Session["TrabajoPostulado"]).Name)</h3>

