
@{
    ViewBag.Title = "Carga Cv Ok";
}

<h2>Felicitaciones @(((RRHH.Models.Users)Session["UsuarioLogueado"]).FirstName), has cargado tu Cv en World Solutions RRHH</h2>
<h3>Ahora puedes postularte a los puestos de trabajo</h3>

