
@{
    ViewBag.Title = "Login";
}
@section scriptsQnecesitoAntesPagina{
    <script src="~/Scripts/jquery.min.js"></script>
}

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" method="post" action="@Url.Action("DoLogin2","Users")">
                <span><img id="imagenLogin" src="~/Content/user-group-icon.png" /></span>
                <div class="modal-header">
                    <div id="messenger">
                        <span>@TempData["Error"]</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-lg-3 control-label">Email:</label>
                    <input class="form-control" id="UserEmail" name="email" placeholder="Email" type="text" />
                </div>
                <div class="form-group">
                    <label for="Password" class="col-lg-3 control-label">Contraseña:</label>
                    <input class="form-control" id="Password" placeholder="Contraseña" name="password" type="password" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary LbtnMargin" id="Login" type="submit">Loguearse!!!  <span class="glyphicon glyphicon-ok"></span></button>
                    <a href="@Url.Action("Registro","Users")" class="btn btn-danger RbtnMargin" id="Register">Registarse <span class="glyphicon glyphicon-user"></span></a>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<style>
    .modal-header {
        padding: 0px;
    }

    .modal-dialog {
        max-width: 480px;
        padding-top: 00px;
    }

    .modal-dialog {
        transform: translate(0,30%) !important;
    }

    .form-horizontal {
        margin-left: 30px;
    }

    .form-control {
        width: 420px;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .col-lg-3 {
        padding-left: 0px;
        padding-bottom: 7px;
    }

    input, select, textarea {
        max-width: 430px;
    }

    #messenger {
        text-align: center;
        font-weight: bold;
        font-family: 'Times New Roman';
        color: white;
        background-color: red;
        width:418px;
    }

    #imagenLogin {
        display: block;
        margin: 0 auto 0 auto;
        height: 80px;
    }

   .form-horizontal .control-label {
        text-align:left;
    }

</style>

<script>
    $(document).ready(function () {
        $("#myModal").modal("show");
        //$("#usuarioIngreso").click(function () {
        //    $("#myModal").modal("show");
        //});
    });
</script>