/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 90px;
}

#footer {
    /*padding-top:50px;*/
    position: absolute;
    bottom: 0;
    width: 85%;
}